:root{
    --number-columns : 7;
    --main-color1: #a8f8e4a1;
    --main-color2: white;
}
html{
    background: linear-gradient(90deg, var(--main-color1) 0%, #fff 100%);  
}
body{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    font-size: 30px;
    background: #fff url(sources/images/wordle-background.jpeg) center center/cover no-repeat;
    color: white;
    margin-bottom: 10px;
    height: 50px;
}
.bold{
    font-weight: bold;
}

.main{
    display: grid;
    flex-direction: column;
    margin: 10px;
}
.word-keyboard{    
text-align: center;
}
#keyboard-id {
    display: flex;
    flex-wrap: wrap;
    border: black solid 1px;
    padding: 5px;
    background:  var(--main-color2);
    margin-top: 30px;
    box-shadow:0px 8px 15px gray;
}

#keyboard-id button {
    display: flex;
    padding: 5px;
    border: black solid 1px;
    text-align: center;
    /* font-size: calc(100% / var(--number-columns) - 10px); */
    background: radial-gradient( var(--main-color1) 0%,  var(--main-color2) 0%, var(--main-color1) 100%);
    width: calc(100% / var(--number-columns));
    justify-content: center;
    font-size: 1.2rem;
}

#word-id{
    display: inline;
    text-align: center;
    height: 10vh;
}
#word-id>div{
    height: 50px;
    margin-bottom: 20px;
}
.word div{
    display: inline-block;
    width: 50px;
    height: 50px;
    border: black solid 1px;
    background-color: var(--main-color2);
    font-size: 40px;
    margin: 2px;
   vertical-align: middle;
}

label{
    font-size: 30px;
    display: inline-block;
    height: 50px;
    margin-right: 5px;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.buttons button {
    box-shadow: 0px 8px 15px gray;
    font-size: 1rem;
}

#str-result-id{
    font-size:1.5rem ;
    font-style: italic;
}
.description{
    margin-top: 10px;
    padding: 10px;
    background: linear-gradient(270deg, #B0E2D8 0%, #fff 100%);
}

.words-buttons{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
@media (min-width : 600px){
    :root{
        --number-columns : 13;
    }
    .main{
        display: grid;
        flex-direction: row;
        grid-template-columns:  3fr 1fr;
    }
}
@media (min-width : 800px){
    .word-keyboard{
        position: relative;
    }
    /* .buttons{
       position: absolute;
       top: 0;
       display: grid;
    }
    .buttons button{
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
    #word-id{
        display: inline;
        text-align: right;
        margin-right: 10px;
    } */
}

@media (min-width : 1200px){
    :root{
        --number-columns : 26;
    }
    .buttons button{
        font-size: 1.4rem;
    }
}
