:root {
  --diameter-spinner: 50px;
  --color-spinner1: white;
  --color-spinner2: rgb(126, 122, 122);
  --color-spinner3: rgb(216, 216, 216);
  --table-employess-width: 80vw;
}

* {
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../src/img/gray-concrete-wall.jpg');
}

button {
  padding-inline: 5px;
}

#menu-place {
  padding: 10px;
  background-color: rgba(140, 175, 175, 0.26);
}

.header-order-buttons :hover {
  font-weight: bold;
}

.header-order-buttons {
  position: absolute;
  bottom: 0.3rem;
  margin-left: calc(11vw /2 - 0.9rem);

}

.header-order-buttons button {
  font-size: 1rem;
  padding: 1px;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 20%;
  background-color: rgba(253, 253, 253, 0.815);
}

#cover {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(59, 58, 58, 0.397);
  display: none;
}

.above {
  width: 30vw;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;

  z-index: 100;
  background-color: rgba(217, 238, 235, 0.89);
  color: rgb(3, 3, 3);
  max-width: 100vw;
  max-height: fit-content;
}

#label-employee-data {
  font-weight: bold;
  color: rgb(100, 74, 39);
}

.radio-group {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
}

.closeX {
  /* display: inline-block; */
  position: absolute;
  right: -0.5rem;
  top: -0.5rem;
  background-color: rgb(158, 197, 191);
}

.wrap-table table .selected {
  background-color: rgba(241, 223, 201, 0.986);
}

tr:nth-child(even) {
  background: #CCC;
}

.form-control {
  box-shadow: 5px 5px 5px rgb(139, 173, 168);
  padding: 10px;
  border: 3px solid rgb(139, 173, 168);
}

.inline-form {
  margin: 10px;
}
.inline-form button{
  margin-inline: 5px;
}

.forms-employee-table {
  display: inline-block;
  text-align: left;
}

.row-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}

.row-data input,
.row-data select {
  width: 45%;
}

.submit-btn {
  width: 30%
}

#spinner-place {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 150;
}

.menu-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.active {
  color: white;
  background-color: rgba(22, 97, 102, 0.822);
}

.wrap-table,
.wrap-table table,
#employees-form-place {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  max-width: 100vw;
}

#employees-table-id {
  max-width: var(--table-employess-width);
  min-width: var(--table-employess-width);
}

#statistics-place label {
  display: block;
  text-align: center;
}

th {
  background-color: rgb(166, 204, 207);
  padding-bottom: 2rem;
}

#statistics-place th {
  padding-bottom: 0;
}

th,
td {
  padding-inline: 10px;
  max-width: 12vw;
  min-width: 12vw;
  overflow: hidden;
}

.wrap-table {
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1.5px solid black;
  box-shadow: 5px 5px 5px rgba(160, 193, 196, 0.822);
  background-color: rgb(240, 238, 238);
}

button {
  border: 2px solid rgba(22, 97, 102, 0.822);
  box-shadow: 2px 2px 2px rgba(160, 193, 196, 0.822);
}

section {
  margin: 10px;
}

#summary {
  display: block;
  text-align: right;
  margin-right: 10vw;
  margin-top: 10px;
}

.spinner-animation {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: var(--diameter-spinner);
  width: var(--diameter-spinner);
  border-radius: 50%;
  background: #000000;
}

.circle1 {
  position: relative;
  top: 0px;
  width: 0px;
  height: 0px;
  border-right: calc(var(--diameter-spinner) / 2) solid transparent;
  border-top: calc(var(--diameter-spinner) / 2)solid var(--color-spinner1);
  border-left: calc(var(--diameter-spinner) / 2) solid transparent;
  border-bottom: calc(var(--diameter-spinner) / 2) solid transparent;
  border-top-left-radius: calc(var(--diameter-spinner) / 2);
  border-top-right-radius: calc(var(--diameter-spinner) / 2);
  -moz-transform: rotate(320deg);
  -webkit-transform: rotate(320deg);
  -o-transform: rotate(320deg);
  -ms-transform: rotate(320deg);
  animation: spin1 0.5s infinite linear;
  -webkit-animation: spin1 0.5s infinite linear;

}

.circle2 {
  position: absolute;
  top: 0px;
  width: 0px;
  height: 0px;
  border-right: calc(var(--diameter-spinner) / 2) solid transparent;
  border-top: calc(var(--diameter-spinner) / 2) solid var(--color-spinner2);
  border-left: calc(var(--diameter-spinner) / 2) solid transparent;
  border-bottom: calc(var(--diameter-spinner) / 2) solid transparent;
  border-top-left-radius: calc(var(--diameter-spinner) / 2);
  border-top-right-radius: calc(var(--diameter-spinner) / 2);
  -moz-transform: rotate(80deg);
  -webkit-transform: rotate(80deg);
  -o-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  animation: spin2 0.5s infinite linear;
  -webkit-animation: spin2 0.5s infinite linear;
}

.circle3 {
  position: absolute;

  top: 0px;
  width: 0px;
  height: 0px;
  border-right: calc(var(--diameter-spinner) / 2) solid transparent;
  border-top: calc(var(--diameter-spinner) / 2) solid var(--color-spinner3);
  border-left: calc(var(--diameter-spinner) / 2) solid transparent;
  border-bottom: calc(var(--diameter-spinner) / 2) solid transparent;
  border-top-left-radius: calc(var(--diameter-spinner) / 2);
  border-top-right-radius: calc(var(--diameter-spinner) / 2);
  -moz-transform: rotate(200deg);
  -webkit-transform: rotate(200deg);
  -o-transform: rotate(200deg);
  -ms-transform: rotate(200deg);
  animation: spin3 0.5s infinite linear;
  -webkit-animation: spin3 0.5s infinite linear;
}

/* animations */

@keyframes spin1 {
  0% {
    -moz-transform: rotate(320deg);
    -webkit-transform: rotate(320deg);
    -o-transform: rotate(320deg);
    -ms-transform: rotate(320deg);
  }

  100% {
    -moz-transform: rotate(680deg);
    -webkit-transform: rotate(680deg);
    -o-transform: rotate(680deg);
    -ms-transform: rotate(680deg);
  }
}

@-webkit-keyframes spin1 {
  0% {
    -moz-transform: rotate(320deg);
    -webkit-transform: rotate(320deg);
    -o-transform: rotate(320deg);
    -ms-transform: rotate(320deg);
  }

  100% {
    -moz-transform: rotate(680deg);
    -webkit-transform: rotate(680deg);
    -o-transform: rotate(680deg);
    -ms-transform: rotate(680deg);
  }
}

@keyframes spin2 {
  0% {
    -moz-transform: rotate(80deg);
    -webkit-transform: rotate(80deg);
    -o-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
  }

  100% {
    -moz-transform: rotate(440deg);
    -webkit-transform: rotate(440deg);
    -o-transform: rotate(440deg);
    -ms-transform: rotate(440deg);
  }
}

@-webkit-keyframes spin2 {
  0% {
    -moz-transform: rotate(80deg);
    -webkit-transform: rotate(80deg);
    -o-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
  }

  100% {
    -moz-transform: rotate(440deg);
    -webkit-transform: rotate(440deg);
    -o-transform: rotate(440deg);
    -ms-transform: rotate(440deg);
  }
}

@keyframes spin3 {
  0% {
    -moz-transform: rotate(200deg);
    -webkit-transform: rotate(200deg);
    -o-transform: rotate(200deg);
    -ms-transform: rotate(200deg);
  }

  100% {
    -moz-transform: rotate(560deg);
    -webkit-transform: rotate(560deg);
    -o-transform: rotate(560deg);
    -ms-transform: rotate(560deg);
  }
}

@-webkit-keyframes spin3 {
  0% {
    -moz-transform: rotate(200deg);
    -webkit-transform: rotate(200deg);
    -o-transform: rotate(200deg);
    -ms-transform: rotate(200deg);
  }

  100% {
    -moz-transform: rotate(560deg);
    -webkit-transform: rotate(560deg);
    -o-transform: rotate(560deg);
    -ms-transform: rotate(560deg);
  }
}

@media (min-width: 800px) {
  .form-control {
    display: flex;
    flex-direction: column;
  }

}

@media(min-width: 750px) {
  .forms-employee-table {
    display: flex;
    text-align: center;
    justify-content: space-around;
  }
}