.title {
color: maroon;
font-size: 50px;
font-weight: bolder;
text-align: center;
margin-top: 30px;
}
body{
    display: block;
}
.board{
    text-align: center;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    height: 100%;
}
.container{
    color: black;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}
.chess-row {
    font-size: 0px;
}
.chess-img {
    width: 4%;
    border-radius: 7%;
    vertical-align: middle;
}
.chess-img:hover{
   -webkit-transform: scale(1.2, 1.2);   
}
.chess-label{
    font-size: large;
    display: inline-block;
    width: 4%;
}
.chess-label-row{
    font-size: large;
    display: inline-block;
    width: 2%;

}
