
body, #form-place {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

table, th, td {
    border-collapse: collapse;
    width: fit-content;
  }

  th{
    background-color: rgba(93, 198, 202);
  }
  table{
    border: 2px solid black;
  }
  th, td {
    border: 1px solid black;
    padding:3px;
    padding-inline: 5px;
    width: 20vw;
    text-align: center;
  }
  th{
    border-bottom-width: 2px;
  }

  #table-place{
    display: flex;
    justify-content: center;
  }

  #img-body{    
    content: url("../src/ui/images/umbrella.png");
    width: 50px;
    height: 50px;
    display: inline-flex;
  }
  #header{
    display: inline-flex;
    vertical-align: middle;
  }
  #header{
    display: inline-flex;
    vertical-align: middle;
  }

  #form-id{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    padding-top:10px;
  }

  #form-place{
    background-color: rgba(93, 198, 202, 0.192);
    width: 100%;
  }
  .form-control  div select,
  .form-control  div input,
  .form-control  div label,
  .buttons-group button {
    font-size: 1.2rem;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-inline: 3vw;
    width: 11rem;
  }

  .row-input, .date-group{
    display: flex;
    justify-content: space-between;
  }
  